---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Georgia, Garamond, 'Times New Roman', serif;
$sans-serif-font:  -apple-system, BlinkMacSystemFont, Athelas, Avenir, 'Helvetica Neue', Helvetica, sans-serif;
$monospace-font:   Courier, monospace;

$base-font-size:   18px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.75;
$base-line-height: 1.5;

$spacing-unit:     2rem;

$text-color:       #111;
$background-color: #fafafa;
$accent-color:     #2a7ae2;

$gray:             #444;
$gray-dark:        #363636;
$gray-light:       #aaa;

// Width of the content area
$content-width:    800px;
$on-phone:         600px;
$on-laptop:        800px;


@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "layout",
  "utility",
  "components",
  "syntax-highlighting"
;
