---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$font-family-serif: Georgia, Palatino, Garamond, 'Times New Roman', serif;
$font-family-sans: -apple-system, BlinkMacSystemFont, Athelas, Avenir, 'Helvetica Neue', Helvetica, sans-serif;
$font-family-mono: Courier, monospace;

$font-weight-base: 400;
$line-height-base: 1.5;

$spacing-unit:     2rem;

$accent-color:     #2a7ae2;
$background-color: #f8f8f8;
$body-color:       #fefefe;
$text-color:       #111;

$gray:             #484848;
$gray-dark:        #363636;
$gray-light:       #888;

$mobile:           600px;
$tablet:           900px;

:root {
  --font-size-base: 16px;
  --font-size-large: 24px;
  --font-size-small: 14px;
}

@media screen and (max-width: $mobile) {
  :root {
    --font-size-base: 14px;
    --font-size-large: 20px;
    --font-size-small: 12px;
  }
}

@media screen and (min-width: 1600px) {
  :root {
    --font-size-base: 18px;
    --font-size-large: 28px;
    --font-size-small: 16px;
  }
}

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "layout",
  "footer",
  "header",
  "page",
  "utility",
  "syntax-highlighting"
;
