---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$font-family-base: Georgia, Palatino, Garamond, 'Times New Roman', serif;
$font-family-sans: -apple-system, BlinkMacSystemFont, Athelas, Avenir, 'Helvetica Neue', Helvetica, sans-serif;
$font-family-mono: Courier, monospace;

$font-size-base:   16px;
$font-size-small:  14px;
$font-size-large:  24px;

$font-weight-base: 400;
$line-height-base: 1.5;

$spacing-unit:     2rem;

$accent-color:     #2a7ae2;
$background-color: #f8f8f8;
$body-color:       #fefefe;
$text-color:       #111;

$gray:             #484848;
$gray-dark:        #363636;
$gray-light:       #aaa;

// Width of the content area
$content-width:    800px;
$mobile:           600px;
$on-laptop:        800px;


@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "footer",
  "header",
  "layout",
  "utility",
  "syntax-highlighting"
;
