<header>
  <nav class="Nav">
    <ul class="Nav-list">
      <li class="Nav-list-item">
        <a class="Nav-list-item-link Nav-list-item-link--secondary" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </li>
      <li class="Nav-list-item">
        <a class="Nav-list-item-link" href="{{ site.baseurl }}/projects">Projects</a>
      </li>
      <li class="Nav-list-item">
        <a class="Nav-list-item-link" href="{{ site.baseurl }}/resume">Resume</a>
      </li>
    </ul>
  </nav>
</header>
