html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/**
* Reset some basic elements
*/
body {
  color: $text-color;
  font-family: $font-family-sans;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  font-size: var(--font-size-base);
  font-weight: $font-weight-base;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 0.75em;
}

/*
 * Reset heading sizes
 */
 
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-sans;
  font-weight: $font-weight-base;
  line-height: 1;
  margin-bottom: 0.5rem;
  padding-top: 0.75rem;
}

h1 {
  font-size: 2.25rem;
  padding-top: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 1rem;
}

h3 {
  font-size: 1.25rem;
}

h4, h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

h4, h6 {
  color: $gray;
  text-transform: uppercase;
}

/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

ul {
  list-style-type: none;
  margin-left: 0;
}

li {
  > ul,
  > ol {
     margin-bottom: 0;
  }
}

/**
 * Links
 */
a {
  color: $text-color;
  position: relative;
  text-decoration: none;
  transition: color 200ms ease-in-out;

  &::after {
    background-color: $accent-color;
    bottom: -2px;
    content: '';
    height: 2px;
    position: absolute;
    right: 0;
    transition: all 200ms linear;
    width: 100%;
  }
  
  &:active,
  &:focus,
  &:hover {
    color: $accent-color;
  }

  &:hover {
    &::after {
      background-color: $accent-color;
      width: 0;
    }
  }
}

/**
 * Blockquotes
 */
blockquote {
  color: $gray;
  border-left: 0.25rem solid $gray-light;
  padding-left: $spacing-unit / 2;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
pre,
code {
  border: 1px solid $gray-light;
  border-radius: 3px;
  background-color: #eef;
  font-family: $font-family-mono;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

/**
 * Clearfix
 */
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/**
 * Icons
 */
.icon {
  > svg {
    display: inline-block;
    height: 1.5rem;
    vertical-align: middle;
    width: 1.5rem;
  }
}