.Dropcap {
  font-size: 3.5rem;
  float: left;
  line-height: 0.5;
  padding: 0.875rem 0.375rem 0 0;
}

.Note {
  color: $gray-light;
  font-family: $sans-serif-font;
  font-size: $small-font-size;
  max-width: 80%;
  text-transform: uppercase;
  
  @include media-query($on-phone) {
    max-width: 100%;
  }
}