.footer {
  background-color: $background-color;
  color: $gray;
  display: flex;
  flex-flow: row nowrap;
  font-family: $font-family-sans;
  font-size: $font-size-small;
  justify-content: space-between;
  padding: 1rem 2rem 1.5rem;

  &__nav {
    font-size: $font-size-large;
  }
}

@include media-query($mobile) {
  .footer{
    padding-right: 1rem;

    &__nav {
      font-size: $font-size-small;
    }
  }
}