$logo-border-width: 3px;

.header {
  font-family: $font-family-sans;
}

.logo {
  border: $logo-border-width solid $accent-color;
  color: $accent-color;
  font-size: var(--font-size-large);
  font-weight: 500;
  margin: 2rem;

  &:active,
  &:focus,
  &:hover {
    color: $accent-color;
  }
}

.logo--lg {
  width: 8em;

  &__first,
  &__last {
    padding: 0.25rem 1rem;
  }

  &__first {
    border-bottom: $logo-border-width solid $accent-color;
  }
}

.logo--sm {
  height: 50px;
  overflow: hidden;
  position: relative;
  width: 6em;

  &__divider {
    background-color: $accent-color;
    height: 4rem;
    left: calc(50% - #{$logo-border-width});
    position: absolute;
    transform: rotate(36deg);
    top: -0.5rem;
    width: $logo-border-width;
  }

  &__first,
  &__last {
    display: inline-block;
  }

  &__first {
    padding: 0.25rem 0.5rem 0.25rem 1rem;
  }
  
  &__last {
    padding: 0.25rem 1rem 0.25rem 0.5rem;
    float: right;
  }
}

@include media-query($mobile) {}