.header--lg {
  font-family: $font-family-sans;
  margin: auto;
  max-width: 40rem;
}

.logo--lg {
  border: 3px solid $accent-color;
  color: $accent-color;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 500;
  width: 10rem;

  &:active,
  &:focus,
  &:hover {
    color: $accent-color;
  }

  &__bottom,
  &__top {
    padding: 4px 16px;
  }

  &__top {
    border-bottom: 3px solid $accent-color;
  }
}

.logo--sm {

}
