.header {
  font-family: $font-family-serif;
  position: relative;

  &__tab {
    background-color: $accent-color;
    color: #fff;
    font-size: var(--font-size-large);
    height: 4rem;
    left: 2rem;
    line-height: 4rem;
    position: absolute;
    text-align: center;
    width: 4rem;
  }
}