@supports (display: grid) {
  .page {
    display: grid;
    grid-template-areas: "header header header"
                         "content-padding-left content content-padding-right"
                         "footer footer footer";
    grid-template-columns: 1fr 40rem 1fr;
    grid-template-rows: 20vh 1fr 10vh;
  }

  .header {
    grid-area: header;
  }

  .page__content {
    grid-area: content;
    min-height: 70vh;
  }

  .footer {
    grid-area: footer;
  }

  @media screen and (max-width: $tablet) {
    .page {
      grid-template-columns: 2rem 1fr 2rem;
    }
  }

  @media screen and (max-width: $mobile) {
    .page__content {
      grid-column: 1 / 4;
      grid-row: 2;
    }
  }
}

@supports not (display: grid) {
  .page {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    min-height: 100vh;
  }

  .page__content {
    max-width: 40rem;
  }
}