@supports (display: grid) {
  .page {
    display: grid;
    grid-template-areas: "header header header"
                         "content-padding-left content content-padding-right"
                         "footer footer footer";
    grid-template-columns: minmax(10rem, 15rem) 2fr minmax(10rem, 15rem);
    grid-template-rows: 10rem 1fr 5rem;
  }

  .header {
    grid-area: header;
  }

  .page__content {
    grid-area: content;
  }

  .footer {
    grid-area: footer;
  }
}

@supports not (display: grid) {
  .page {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    min-height: 100vh;
  }
}