.page {
  background-color: $body-color;
  border-top: 4px solid $accent-color;
}

.page__content {
  padding: 2rem;
}

.page__title {
  @extend h1;
  font-family: $font-family-serif;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

.article {
  margin-bottom: 1rem;

  &__title {
    @extend h2;
  }
}

/* Only used on home page */
.intro {
  @extend .page__title;
  border-bottom: 1px solid $gray-light;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

.section {
  margin-bottom: 0.75rem;

  &__title {
    @extend h3;
  }

  &__subtitle {
    @extend h4;
    font-size: var(--font-size-small);
    text-transform: uppercase;
  }

  &__title + .section__subtitle {
    padding-top: 0;
  }
}

@include media-query($mobile) {
  .intro {
    font-size: 2rem;
  }
}
