.caps {
  text-transform: uppercase;
}

.font-sans {
  font-family: $font-family-sans;
}

.font-sm {
  font-size: var(--font-size-small);
}

.font-md {
  font-size: 1.25rem;
}

.font-lg {
  font-size: var(--font-size-large);
}

.margin-top {
  margin-top: 2rem;
}

.reader-only {
  display: none;
}

.text-center {
  text-align: center;
}

.hide-mobile {
  display: block;
}

.hide-desktop {
  display: none;
}

@media screen and (max-width: $mobile) {
  .hide-mobile {
    display: none;
  }

  .hide-desktop {
    display: block;
  }
}