---
layout: page
---

<div itemscope itemtype="http://schema.org/BlogPosting">

  <header class="page__header">
    <h1 class="page__title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post__meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: '%-d %B %Y' }}</time>
      {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header>

  <div class="page__content" itemprop="articleBody">
    {{ content }}
  </div>

  <a href='/writing'>&#8592; Back to blog</a>

</div>

